/*
|--------------------------------------------------------------------------
| The Animated Hotdog Menu
|--------------------------------------------------------------------------
*/

/*
|--------------------------------------------------------------------------
| Reset
|--------------------------------------------------------------------------
*/

html {box-sizing: border-box;}*, *:before, *:after {box-sizing: inherit;}* {margin: 0;padding: 0;}

body {
    background-image: url(images/background.jpg);
    font-family: sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}

/*
|--------------------------------------------------------------------------
| Hotdog
|--------------------------------------------------------------------------
*/

#toggle {
    display: none;
}

.hotdog {
    --hotdog-size: 27px;
    --hotdog-margin-top: calc(var(--hotdog-size) / 10);
    position: relative;
    height: var(--hotdog-size);
    width: var(--hotdog-size);
    z-index: 1;
    cursor: pointer;
}

.hotdog div {
    position: relative;
    width: var(--hotdog-size);
    height: calc(var(--hotdog-size) / 5);
    border-radius: 3px;
    margin-top: var(--hotdog-margin-top);
    transition: all 0.3s ease-in-out;
}

div.top-bun, div.bottom-bun {
    background-color: orange;
}

div.wiener {
    background-color: red;
}
/*
|--------------------------------------------------------------------------
| Animations
|--------------------------------------------------------------------------
*/

#toggle:checked + .hotdog .top-bun {
    transform: rotate(-45deg);
    margin-top: calc(var(--hotdog-margin-top) * 4);
}

#toggle:checked + .hotdog .wiener {
    background-color: orange;
    transform: rotate(45deg);
    margin-top: calc(-1 * (var(--hotdog-margin-top) * 2));
}

#toggle:checked + .hotdog .bottom-bun {
    opacity: 0;
}
